body {
  background-color:#eaeaea;
  
}
li {
  float:left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left:1px solid #ce2121;
    border-right:1px solid #ce2121;
  }
ul {
    list-style-type: none;
    margin-top:0;
    padding:0;
    background-color:#333;
    font-family:Audiowide;

}
  li a:hover {
    background-color: #111;
}
#nav{
  width:119em;
  background-color:#333;
  display: inline-block
}
p {
  clear:left;
  text-align: center;
}
