body {
  background-color:#eaeaea;
  margin:0;
}
p {
  clear:both;
  text-align: center;
}
.title{
  text-align: center;
  font-family: Russo One;
  font-size: 65px;
  color:#ce2121;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: block;
  margin-bottom: 0;
  padding-top: 0%;
}
#title1{
  text-align: center;
  font-family: Russo One;
  font-size: 2.5vw;
  margin-bottom: 0;
}
.shoepics{
  width: 60%;
  margin: 0 auto;
}
.tutorpics{
  width: 60%;
  margin: 0 auto;
}
.pics{
  width: 100%;
  border-bottom: 2px #808080 solid;
}
.shoecontainer{
  float: left;
  margin: 1%;
  box-sizing: border-box;
  border: 2px #808080 solid;
  width: 31%;
  text-decoration: none;
  color: black;
}
.pistoncontainer{
  float: left;
  margin: 1%;
  box-sizing: border-box;
  border: 2px #808080 solid;
  width: 18%;
  text-decoration: none;
  color: black;
}
.tutorcontainer{
  float: left;
  margin: 1%;
  box-sizing: border-box;
  border: 2px #808080 solid;
  width: 31%;
  text-decoration: none;
  color: black;
}
.shoecontainer:hover, .pistoncontainer:hover, .tutorcontainer:hover{
  border: 2px black solid;
  box-shadow: 5px 5px 20px #888;
}
.shoecontainer:hover .pics{
  border-bottom: 2px black solid;
}
.pistoncontainer:hover .pics{
  border-bottom: 2px black solid;
}
.tutorcontainer:hover .pics{
  border-bottom: 2px black solid;
}
.row1{
  display: inline-block;
  width: 100%;
}
.row2{
  display: inline-block;
  width: 100%;
}
@media only screen and (max-width: 700px), handheld{
 
  .shoecontainer, .pistoncontainer, .tutorcontainer{
    width: 90%;
    position: relative;
    left: 5%;
    font-size: 2.5vw;
  }
  .title{
    font-size: 10vw;
  }
  #title1{
    font-size: 6.5vw;
    margin-top: 30px;
  }
  .shoepics{
    width: 100%;
    margin: 0 auto;
  }
  .tutorpics{
    width: 100%;
    margin: 0 auto;
  }
  .desc{
    font-size: 4vw;
    margin: 1%;
  }
}
  