body{
  margin: 0;
  background: #193441;
  height: 100%;
}
p, h2, h3{
  color: #FCFFF5;
  font-family: Tinos
}
.split{
  width: 50%;
  float: left;
  padding-top: 20px;
  box-sizing: border-box;
  height: 100%;
  border-bottom: 6px solid #FCFFF5;
  
}
#main{

  border-top: 6px solid #FCFFF5;
  height: 700px;
}
h2{
  text-align: center
}
#leftsplit{
  border-right: 4px solid #FCFFF5;
  box-sizing: border-box;
  padding-right: 40px;
  padding-left: 5%;
}
#rightsplit{
  border-left: 4px solid #FCFFF5;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 5%;
}
.sectitle{
  padding-bottom: 20px
}
p{
  padding-left: 30px;
  font-family: Open Sans;
  text-indent: 0px;
}
.link{
  color: #FFF;
}