body {
  background-color:#eaeaea;
  margin: 0;
}
.title{
  font-family: Russo One;
  font-size: 30px;
  text-align: center;
  color: #ce2121;
}
table, td, tr{
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin: 0 auto;
}
.index{
  display: block;
  position: relative;
  margin: 0 auto;
  width: 70%;
  max-width: 1000px;
  min-width: 550px;
}
.desc{
  text-align: center;
  font-family: opensans;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 25px;
  min-width: 550px;
  max-width: 1000px;
}
#header{
  font-weight: bold;
  background-color: lightblue
}
@media only screen and (max-width: 700px), handheld{
  
  .index{
  display: block;
  margin: 0 auto;
  width: 95%;
  max-width: 1000px;
  min-width: 0;
  font-size: 2.5vw
  }
  .desc{
  font-size: 2.5vw;
  min-width: 0;
  width: 95%;
  
  }
  .title{
    font-size: 3.5vw;
    padding-top: 20px;
  }
  table, td, tr{
  padding: 5px 2px 5px 2px;
}