body {
  background-color:#eaeaea;
  
}
.navli{
  float:left;
}
.nava{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left:1px solid #ce2121;
    border-right:1px solid #ce2121;
  }
.navul{
    list-style-type: none;
    margin-top:0;
    padding:0;
    background-color:#333;
    font-family:Audiowide;

}
.nava:hover {
    background-color: #111;
}
#nav{
  width:119em;
  background-color:#333;
  display: inline-block
}
.title{
  font-family: Russo One;
  font-size: 30px;
  text-align: center;
  color: #ce2121;
}
table, td, tr{
  text-align: center;
  border: 2px solid blue;
}
.index{
  display: inline-block;
  position: relative;
  float: left;
  left: 40%;
  width: auto;
}
.desc{
  text-align: center;
  font-family: opensans;
  
}