table{
  width:100%;
  padding: 0;
  margin: 0;
  font-family: TimesNewRoman;
  font-size: 16px;
}
body {
  background-color:#eaeaea;
  margin: 0;
}
#container2{
  width: 50%;
  margin: 0 auto;
  min-width: 850px;
  border: 1px solid
}
p.name {
  font-size: 200%;
  text-align: center;
  padding: 0;
  margin: 0;
}
.navcont{
  width:100%;
  background-color:#333;
  display: inline-block;
  margin:0;
  padding:0;
  min-width: 600px;
}
  li.nav {
    float:left;
}
  a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    border-left:1px solid #ce2121;
    border-right:1px solid #ce2121;
  }
  ul.nav{
    list-style-type: none;
    margin-top:0;
    padding:0;
    background-color:#333;
    font-family:Audiowide;

}
  a.nav:hover {
    background-color: #111;
}
#mnav{
  display: none;
}
#col1{
  width: 70%;
  padding-right: 10px;
}
#col2{
  width:19%
}
#col3{
  width:10%;
}
.heading{
  font-weight: bold;
  padding-top: 15px;
  text-indent: 0;
}
tbody{
  text-indent: 10px
}
#end{
  padding-bottom: 3%;
}
.gpa{
  float: right;
  overflow: auto;
  font-size: 16px;
}
.gpa2{
  padding-right: 8px
}
ul{
  margin:0
}
.date{
  padding-left: 10px;
  font-size: 16px;
}
li.desc{
  width: 85%
}
@media only screen and (max-width: 700px), handheld{
  .nav{
    display: none;
  }
  .navcont{
    display: none;
  }
  #mnav{
    display: block;
    width: 16px;
    position: absolute;
    padding: 0;
    z-index: 5;
  }
  .btngroup{
    display: none;
    padding: 0;
    margin: 0;
    width: 650%;
    min-width: 120px;
    z-index: 5;
  }
  a.btn{
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    border:1px solid #ce2121;
    z-index: 5
  }
  a.btn:hover{
    background-color: #111;
    z-index: 5
  }
  ul.btn{
    list-style-type: none;
    margin-top:0;
    padding:0;
    background-color:#333;
    font-family:Audiowide;
    z-index: 5
  }
  .navbutton{
    border-width: 3px 3px 3px 0px;
    font-family: Audiowide;
    border-style: solid;
    width: 18px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    font-weight: 100;
    padding-left: 40%;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 20px;
    background-color: #ce2121;
    z-index: 5;
    margin:0;
  }
  #mnav:hover .btngroup {
    display: block;
    
  }
  #mnav:hover .navbutton{
    text-align: right;
    padding-right: 10%;
  }
  #mnav:hover{
    width: 10%;
  }
  #container2{
    width: 100%;
    font-size: 3vw;
    min-width: 0
  }
  table, .gpa, .date{
    font-size: 3vw
  }
  #col1{
    width: 32%;
  }
  .school{
    width: 100%
  }
  .gpa{
    float: left;
    display: block
  }
}