.table{
  width:100%;
  padding: 0;
  margin: 0
}
body {
  background-color:#eaeaea;
  margin: 0;
}
#container2{
  width: 50%;
  margin: 0 auto;
  min-width: 850px;
  border: 1px solid
}
p.name {
  font-size: 200%;
  text-align: center;
  padding: 0;
  margin: 0;
}
.navcont{
  width:100%;
  background-color:#333;
  display: inline-block;
  margin:0;
  padding:0;
  min-width: 600px;
}
  li.nav {
    float:left;
}
  a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    border-left:1px solid #ce2121;
    border-right:1px solid #ce2121;
  }
  ul.nav{
    list-style-type: none;
    margin-top:0;
    padding:0;
    background-color:#333;
    font-family:Audiowide;

}
  a.nav:hover {
    background-color: #111;
}
#col1{
  width: 70%;
  padding-right: 10px;
}
#col2{
  width:17%
}
#col3{
  width:10%;
}
.heading{
  font-weight: bold;
  padding-top: 15px;
  text-indent: 0;
}
tbody{
  text-indent: 10px
}
#end{
  padding-bottom: 3%;
}
.gpa{
  float: right
}
.gpa2{
  padding-right: 8px
}
ul{
  margin:0
}
.date{
  padding-left: 10px
}
li.desc{
  width: 85%
}