table, td, tr  {
  width: 50%;
 }
body {
  background-color:#eaeaea;
}
p.name {
  font-size: 200%;
  text-align: center
}
p {
  padding:0px;
  margin:2px
}
li {
  float:left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left:1px solid #ce2121;
    border-right:1px solid #ce2121;
  }
ul {
    font-family: sans-serif;
    background-color: #dddddd;
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#333;
    font-family:Audiowide;
}
  li a:hover {
    background-color: #111;
}
p.graddate{
  width: 200%;
  text-align: left;
  position: relative;
  right: 700%;
  overflow: auto;
}
p.gpa{
  width: 100%;
  overflow: auto;
}