body{
  margin: 0;
  background: #193441
}
p, h2, h3, li{
  color: #FCFFF5
}
h2{
  text-align: center;
}
.column1, .column3{
  width: 30%;
  float: left;
  min-width: 300px;
}
.column2{
  width: 40%;
  float: left;
  min-width: 400px;
  margin-left: 30%;
}

.row1{
  display: inline-block;
  background-color: 193441;
  padding-left: 3%;
  padding-right: 3%;  
}
.logo{
  width: 30%;
  padding-left: 35%;
  padding-top: 5%
}
#about{
  padding-left: 2%
}
h2{
  padding-top: 10%
}

h1{
  font-family: Tinos;
  font-size: 80px;
  color:#193441;
  background-color: #FCFFF5;
  text-align: center;
  line-height: 10px
}
p, li{
  font-family: Zilla Slab;
  font-size: 18px
}
column1{
  display: block
}
#placehold{
  color: #193441
}
.link{
  color: #FFF
}
#title{
  background-color: #FCFFF5;
  margin-top: 30px;  
  display: inline-block;
  width: 100%
}
.menu{
  padding: 0;
  margin: 0;
}
h3{
  margin-top: 40px;
  font-family: Tinos
}
.sidepicl{
  max-width: 230px;
  border-radius: 50%;
  display: auto;
  min-width: 140px;
  width: 0 auto;
  width: 30%;
  float: left;
  margin-left: 50%
}
.sidepicr{
  max-width: 230px;
  border-radius: 50%;
  display: auto;
  min-width: 140px;
  width: 0 auto;
  width: 30%;
  float: right;
  margin-right: 50%;

}
#name{
  float: left;
  width: 40%;
  min-width: 450px;
  padding-top: 1%
}
.sidepic{
  width: 30%;
  float: left;
  min-width: 300px;
}
.social{
  width: 7%;
  margin-left: 5%;
  margin-top: 10px;
  min-width: 16px;
}
.social:hover{
  border: solid 1px #FCFFF5;
  box-sizing: border-box;
}
#secret{
  opacity: 0;
  cursor: pointer;
}
#secret:hover{
  cursor: pointer;
}
#main{
  min-width: 1200px
}
@media only screen and (max-width: 700px), handheld{
  #main{
    min-width: 0
  }
  .sidepic{
    display: none;
  }
  #name{
    width: 100%;
    min-width: 0;
  }
  .column2{
    min-width: 0;
    margin: 0;
    width: 100%
  }
  h1{
    font-size: 15vw
  }
  .social{
    margin-left: 15%;
    width: 15%
  }
}