.title{
    font-family: 'Russo One', cursive;
    color: #ce2121;
    font-size: 1.875em;
    display: inline-block;
    position:relative;
    left: 9.4em;
    }
body {
  background-color:#eaeaea;
  width: 115em;
  height: 55em
  
}
li {
  float:left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
    border-left:1px solid #ce2121;
    border-right:1px solid #ce2121;
  }
ul {
    list-style-type: none;
    margin-top:0;
    padding:0;
    background-color:#333;
    font-family:Audiowide;

}
  li a:hover {
    background-color: #111;
}
#nav{
  width:119em;
  background-color:#333;
  display: inline-block
}
p.secret {
  clear:left;
  text-align: center;
}
.skiing {
  border-radius: 20%;
  display:inline-block;
  width: 32.188em;
  border: 3px solid #ce2121;
  display: inline-block;
  float:left;
  position: relative;
  left: 14.063em;
}
a.secret {
    opacity:0;
}
.about{
  width:27.375em;
  text-align: center;
  padding-right: 0.938em;
  padding-bottom: 0.625em; 
  padding-left: 0.938em;
  border: 3px solid #ce2121;
  background-color:#dddddd;
  border-radius: 0.75em;
  float: left;
  display: inline-block;
  position: relative;
  left: 7.813em;
  top: 21em;
  
}
.about-title{
  background-color:#333; 
  color:white;
  margin: 0px;
  padding: 0.625em;
  width:18.300em;
  font-family: Audiowide;
  z-index: 1;
  border-top-left-radius: 0.375em;
  border-top-right-radius: 0.375em;
  position: relative;
  right: .645em;
  
}
.about-disc{
  font-family: Open Sans;
  font-size: .938em;
  margin:0;
  padding-top: 0.313em;
  ;
}
.links{
  width:27.375em;
  text-align: center;
  padding-right: .938em;
  padding-bottom: .625em; 
  padding-left: .95em;
  border: 3px solid #ce2121;
  background-color:#dddddd;
  border-radius: .7em;
  float: left;
  display: inline-block;
  position: relative;
  left: 22em;
  top: 12em;
}

.links-title{
  background-color:#333; 
  color:white;
  margin: 0px;
  padding: 0.625em;
  width:18.26em;
  font-family: Audiowide;
  z-index: 1;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  position: relative;
  right: 0.64em;
}
.fb{
  width: 2em;
  height: 2em;
}
.gh{
  padding-left: 1.25em;
  padding-right: 1.25em;
}
name.h1{
  display: inline-block;
  float:left;
}
.main{
  width: 112.5em;
  height: 43.75em;
}