.title{
    text-align: center;
    font-family: 'Audiowide', cursive;
    color: #ef330e;
    font-size: 30px;
    position: relative;
    bottom: 20px;
    }
body {
  background-color:#eaeaea;
  
}
li {
  float:left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
ul {
    background-color: #dddddd;
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#333;
    font-family:Audiowide;

}
  li a:hover {
    background-color: #111;
}
p {
  clear:left;
  text-align: center;
}
.skiing {
  border-radius: 20%;
  max-width: 100%;
  height: auto;
  display:block;
  margin: auto;
  width: 30%;
  position: relative;
  bottom: 30px;
}