body {
  background-color:#eaeaea;
  margin:0;
}
.navcont{
  width:100%;
  background-color:#333;
  display: inline-block;
  margin:0;
  padding:0;
  min-width: 600px;
}
  li.nav {
    float:left;
}
  a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    border-left:1px solid #ce2121;
    border-right:1px solid #ce2121;
  }
  ul.nav{
    list-style-type: none;
    margin-top:0;
    padding:0;
    background-color:#333;
    font-family:Audiowide;

}
  a.nav:hover {
    background-color: #111;
}
#mnav{
  display: none;
}
.col1{
  float: left;
  width: 70%;
}
.col2{
  float: left;
  width: 25%;
  height: 600px;
  overflow-y: scroll;
  margin-left: 2.5%;
  border: 3px solid black
}
table, td, tr, th{
  border: 1px solid black;
  border-collapse: collapse;
}
.survey{
  float: left;
  width: 100%;
  margin-left:
}
#surveyresponse{
  width: 100%;
  height: 350px;
}
#conceptscreen{
  width: 56.5%;
  height: 300px;
  float:left;
  display: inline-block;
}
#pairwise{
  width: 43%;
  height: 300px;
  float: left;
  display: inline-block;
}
#container{
  width: 100%;
  display: inline-block;
  margin: 0;
}
#brainstorming{
  float: left;
  clear: both;
  width: 100%;
  display: inline;
}
#brainstormsheets{
  display: inline-block;
  width: 90%;
}
#prototype{
  display: inline-block;
  clear: left;
  float: left;
}
#testing{
  display: inline-block;
  clear: left;
  float: left;
}
#presentation{
  display: inline-block;
  clear: left;
  float: left;
  margin-bottom: 30px;
}
@media only screen and (max-width: 700px), handheld{
  .nav{
    display: none;
  }
  .navcont{
    display: none;
  }
  #mnav{
    display: block;
    width: 16px;
    position: absolute;
    padding: 0;
    z-index: 5;
    top:0
  }
  .btngroup{
    display: none;
    padding: 0;
    margin: 0;
    width: 1000%;
    min-width: 120px;
    z-index: 5;
  }
  a.btn{
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    border:1px solid #ce2121;
    z-index: 5
  }
  a.btn:hover{
    background-color: #111;
    z-index: 5
  }
  ul.btn{
    list-style-type: none;
    margin-top:0;
    padding:0;
    background-color:#333;
    font-family:Audiowide;
    z-index: 5
  }
  .navbutton{
    border-width: 3px 3px 3px 0px;
    font-family: Audiowide;
    border-style: solid;
    width: 18px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    font-weight: 100;
    padding-left: 40%;
    padding-bottom: 150%;
    padding-top: 150%;
    font-size: 20px;
    background-color: #ce2121;
    z-index: 5;
    margin:0;
  }
  #mnav:hover .btngroup {
    display: block;
    
  }
  #mnav:hover .navbutton{
    text-align: right;
    padding-right: 10%;
    background-color: lightblue;
  }
  #mnav:hover{
  
  }